/* Add screen styles below */
body {
    background: #F7FFF7;
}

section {
    margin: auto;
    width: 450px;
    text-align: center;
    padding: 10px;
    line-height: 2;
}

main {
    padding: 20px;
    display: flex;
}

div {
    height: 334px;
    background: #FFE66D;
    border: 2px solid;
    border-color: #1A535C;
}

h1 {
    background: #1A535C; 
    color: #4ECDC4;
    padding: 20px;
    margin: 0;
    font-family: Inter, Impact, 'Arial Narrow Bold', sans-serif; 
    font-weight: bold;
    border-bottom: 5px solid;
    border-bottom-color: #FF6B6B;
}

h2 {
    color: rgba(26, 83, 92,80);
    font-family: Inter, Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

h3 {
    color: #1A535C;
    font-family: Inter, Impact, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}

p {
    color: #1A535C;
    font-family: Inter, Impact, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    line-height: 1.5;
}

img {
    float: left;
    margin-right: 50px;
}